<nav class="navbar fixed-top w-100 pb-xl-2">
  <div
    class="container-fluid"
    id="navbarNavDropdown"
  >
  <!-- Enlace a página principal -->
    <a
      class="navbar-brand ps-5 fs-2"
      aria-current="page"
      href="/"
    >HOME</a>

    <!-- Botones para añadir juego a un usuario y registrarse -->
    <div class="d-flex p-3">
      <button
        class="btn btn-outline me-3"
        type="submit"
        onclick="window.location.href='/games/addNewGameSelect'"
      >AÑADE UN JUEGO</button>
      <button
        class="btn btn-outline"
        type="submit"
        onclick="window.location.href='/users/register'"
      >INSCRÍBETE</button>
    </div>
    
  </div>
</nav>